Package: me.absidue.mediacli
Name: MediaCLI
Version: 1.1
Architecture: iphoneos-arm
Depends: firmware (>= 13.0), mobilesubstrate
Conflicts: com.rob311.sshmediacontrols, com.rob311.sshvol
Description: CLI tool to control media playback. Run "media help" to list the available actions.
Maintainer: absidue
Author: absidue
Section: Utilities
Homepage: https://github.com/absidue/MediaCLI/
Tag: compatible_min::ios13.0
